body {
  background-color: #f0f0f0;
  margin: 0;
}

a {
    text-decoration: none;
}

.main-container {
  min-height: 65vh;
}

.phone-card-link {
    text-decoration: none;
    color: inherit;
}

.phone-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    color: #333;
    background-color: #fff;
    transition:
            transform 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out;
}

.phone-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.phone-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.brand-name {
    font-weight: bold;
    margin-top: 12px;
}

.model-name {
    margin: 5px 0;
}

.price-before-sale {
    color: #999;
    text-decoration: line-through;
    margin: 0;
}

.new-price {
    color: #e53935;
    font-size: 18px;
    margin: 5px 0 20px;
}

.phone-actions {
    display: flex;
    justify-content: space-around;
}

.phone-actions a {
    color: #333;
    text-decoration: none;
}